BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
AllowShortBlocksOnASingleLine: false
AccessModifierOffset: -4
PointerAlignment: Left
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: true